#IDE specific files
.vs/
.vscode/
.idea/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Distribution and build directories
*.egg-info/
/dist/

#github

.ruff_cache/
.pytest_cache/


# log files
*.log
*.tmp
*.bak

#Example Pipelines

pipelines

# Test data
/tests/configurations/
/tests/data/logs/
/tests/data/output/
