setuptools
pandas
GitPython
xlsxwriter
xlrd
chardet
h5py
tables
radon
numpy
pyodbc
pylint
kafka-python-ng
psutil
#pyinstaller
networkx
msaccessdb
lxml
pyspark
delta-spark
deltalake
fastparquet
BaseXClient
pytest
openpyxl
neo4j
graphviz

psycopg2
pymongo